  <div class="container">
    <footer class="footer">
      <div class="footer-bar">

    
      <hr>
        <p class="pull-left">© CHICAGO ARTS DISTRICT 2017. All rights Reserved.</p>
        <div class="pull-right">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
              Sign Up for Newsletter
            </button>
            <br>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign Up for Newsletter</h4>
                  </div><!-- end modal-header -->
                  <div class="modal-body">
                      <iframe src="https://app.e2ma.net/app2/audience/signup/1355398/1354401/" width="500" height="425" frameborder="0"></iframe>
                  </div><!-- end modal-body -->
                </div><!-- end modal-content -->
              </div><!-- end modal-dialog -->
            </div><!-- end modal fade -->
        </div><!-- end pull-right -->
    </div>
  </footer>
</div>