<% content_for(:title, 'About')%>
<br>
<br>
<br>
<div class="container">
  <h2 class="page-title">About</h2>
</div>

<div class="jumbotron jumbotron-about-page">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-6">
      <h3>About The Chicago Arts District</h3>

        <p class="text-justify">The Chicago Arts District hosts 2nd Fridays Gallery Night, the monthly opening receptions at the galleries and artists' studios centered around South Halsted Street, beginning at 1711 and ending at 2005 South Halsted Street in Chicago. The event begins at 6:00pm and runs til 10:00pm.</p>

        <p class="text-justify">Come visit the creative spaces in the Chicago Arts District at South Halsted Street as they showcase an exciting display of art and artists from Chicago and beyond. This unique art community opens its doors, free of charge, and lets you get up close and personal with the art and artists.</p>

        <p class="text-justify">Pick up a map at the information center at 2003 S. Halsted and explore the city's most vibrant art community, the Chicago Arts District, where people meet ART!</p>

      <h3>History</h3>

        <p class="text-justify">In 1914, John and Elizabeth Podmajersky, Slovak immigrants, settled in the Pilsen East neighborhood and raised their family. Through hard work, they became the owners of a dairy in the heart of this Eastern European port-of-entry. The first of their properties was purchased to house the dairy, family members, and new immigrants employed by the business. As the neighborhood grew, so did their business. They began to purchase additional properties, and provided housing as well as employment to many immigrants arriving from their homeland. By the late 1950's the community was in decline due to construction of a major highway and the resulting suburban flight. Their son, John Podmajersky Jr., and his wife Annelies, returned to the neighborhood with a goal to revitalize the once vibrant community through ambitious urban design. They converted dilapidated buildings into artists lofts organized around a series of urban gardens created from reclaimed alleyways. Artists came in a steady flow, and their son, John Podmajersky III, purchased his first property in Pilsen East in 1987. The third generation to live, work, and invest in the community, he understood the pressures of a developing metropolitan area, and in 2002 launched the Chicago Arts District (CAD) with the goal of creating a destination art community and economic stability for artists looking to become entrepreneurs.</p>

      <h3>Overview</h3>

        <p class="text-justify">Through three generations of property assembly and private investment, the Chicago Arts District now encompasses a number of contiguous blocks of creative space. Live and work spaces, gallery, loft, studio, office, industrial, and exhibition space are all offered by Podmajersky, Inc. The company is more than a property owner. It is a steward of the neighborhood, voluntarily assuming responsibilities that are typically the province of local government. During the last ten years, the Chicago Arts District staff, working closely with the team at Podmajersky, Inc., has supported more than 100 creative entrepreneurs in starting, growing, and marketing their art businesses.</p>

        <p class="text-justify">Supported by Podmajersky, Inc., the independent staff of CAD connects the public with the neighborhood and its artists through programs and outreach. A monthly newsletter and website showcase the work of its artists. Popular programs include the Pilsen East Artists Open House, 2nd Fridays Gallery Night, a monthly collaborative opening of galleries of the Chicago Arts District; showPOD, a public art project based on an installation format, as well as numerous special events designed to connect people with an authentic art experience.</p>

      <h3>Vision</h3>

        <p class="text-justify">With a passion for infill development, urban planning, quality of life issues, and sensitive design, John Podmajersky III holds a vision for the neighborhood. He sees an outstanding pedestrian community, with the charm of the old world and the excitement made possible by a vibrant multi-cultural city like Chicago.</p>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-5">
      <h3>Hours</h3>
      <p class="lead strong">The 2nd Friday of Each Month from 6-10pm.</p>
      <p class="lead strong"><%= link_to "View upcoming events in the Chicago Arts District ", events_url %>  <span class="glyphicon glyphicon-arrow-right"></span></p>

    </div>
  </div>
</div>
<div class="testimonials-carousel">
  <div id="aboutCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
        
    <!-- Wrapper for slides -->
    <div class="carousel-inner testimonials-carousel" role="listbox">

      <div class="item active">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">  
            <p class="lead">I was at openings tonight - River North first... it was a bit dead and uninspiring. I then went to back to Pilsen; much more energy, and much of the work looked quite good. I'm impressed with how much energy and excitement your 2nd Fridays are generating. Congratulations.</p>
            <p>- David K.</p>
          </div> 
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">  
            <p class="lead">Great to see all of your company's investment in the neighborhood. Keep up the good work.</p>
            <p>- Seth P.</p>
          </div> 
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">  
            <p class="lead">By the way, we used a counter for Friday's opening and we had over 1000 people come through the space (1,030 actually). Just thought you'd want to know...</p>
            <p>- Mike N. Gallery Owner</p>
          </div> 
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">  
            <p class="lead">We appreciate your support, as well as all the help over the years in making us the artists that we are. Thank you.</p>
            <p>- Gabe and Jill</p>
          </div> 
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">  
            <p class="lead">So this weekend, I just went to my first 2nd Friday event since moving into my funky, new, Podmajersky managed apartment 3 1/2 months ago. How awesome is it to have all this amazing artwork and something worth doing on a Friday night, right outside of my front door?</p>
            <p>- Stephen P.</p>
          </div> 
        </div>
      </div>
    
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control exhibitions-control" href="#aboutCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control exhibitions-control" href="#aboutCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- End Carousel -->
</div>