<% content_for(:title, 'Contact')%>
<br>
<br>
<br>
<div class="container">
  <h2 class="page-title">Contact</h2><br>
  <hr>
<div class="jumbotron jumbotron-contact">
  <div class="container">
    <br>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <address>
            <h4>GENERAL INQUIRIES</h4>
            Chicago Arts District<br>
            1945 S. Halsted St.<br>
            Chicago, IL 60608<br>
            312-738-8000 Ext 108<br>
            <%= mail_to "info@chicagoartsdistrict.org" %><br>
          </address>

          <address>
            <h4>RESIDENTIAL, RETAIL, and GALLERY LEASING INFORMATION</h4>
            Jennifer Wright<br>
            312-738-8000, ext. 103<br>
            <%= mail_to "jennifer@podmajersky.com" %><br>
          </address>

          <address>
            <h4>DIRECTOR</h4>
            Cynthia West<br>
            Director, Chicago Arts District<br>
            1945 S. Halsted St.<br>
            Chicago, IL 60608<br>
            312-738-8000 ext 108<br>
            <%= mail_to "cwest@podmajersky.com" %><br>
          <address>
        </div>
      </div>
      <br>
      <br>
    </div>
</div>