<div class="container">
  <div class="row">
  <div class="col-md-10 col-md-offset-1">
 <div class="row">
        <div class="col-md-4">
          <%= image_tag('Heppner_Post.jpg', class: "img-responsive") %>
        </div>
        <div class="col-md-8">
          <h1>Opening Reception: </h1>

          <h2 class="exhibition-name">What Lies Beneath</h2>
          
         <br>
            <h3>Friday, March 10, 2017<br>6:00 - 10:00 PM</h3>
            <h5>Part of 2nd Friday Gallery Night - March</h5>

          
 

          <p class="gallery-name">Chicago Art Department - East</p>
        <h5 class="gallery-address">
          1932 S. Halsted St., #100<br>
          Chicago, IL 60608</h5>

          <p>What Lies Beneath” explores the elemental forces within the process of creation. Charles and Gunjan explore this concept both in light of eastern philosophies and modern day physics. Charles’ paintings are inspired by String Theory while Gunjan will be taking inspirations from the eastern philosophies of non- duality to explore certain aspects of creation and their unifying nature. She will be creating works using turmeric, oyster shell powder, malachite, graphite and other organic material. In extension to her works, the show also features her collaborative installations with Landscape Artist, Kevin Benham, on the same theme.</p>
    
        </div>
      </div>
    </div>

  </div>
</div>
</div>