<div class="container">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>What Lies Beneath</h1>
    <div class="row">
      <div class="col-md-6">  
        <h3 class="uppercase">March 10 - March 24, 2017</h3>
        <p class="gallery-name">Chicago Art Department - East</p>
        <h5 class="gallery-address">
          1932 S. Halsted St., #100<br>
          Chicago, IL 60608</h5>

        <p>“What Lies Beneath” explores the elemental forces within the process of creation. Charles and Gunjan explore this concept both in light of eastern philosophies and modern day physics. Charles’ paintings are inspired by String Theory while Gunjan will be taking inspirations from the eastern philosophies of non- duality to explore certain aspects of creation and their unifying nature. She will be creating works using turmeric, oyster shell powder, malachite, graphite and other organic material. In extension to her works, the show also features her collaborative installations with Landscape Artist, Kevin Benham, on the same theme.</p>

        <p>From Charles Heppner: “The Heart String paintings are about the nature of relationship but rooted in my attempts to understand the basics of String Theory (ST) of quantum gravity. In thinking about ST, I playfully conjectured: What if there are actually two strings whose position in pairing creates the particle or energy, that is, their relativeness to each other decides the outcome?”</p>

        <p>Heppner’s Heart Strings will be in Conversation with Gunjan Kumar’s Echo work, a series in continuation to the works of Hara, an origin point of the Echo series. Says Kumar, “Hara is an energy center within the physical body which is a threshold between physical and metaphysical, a point where the act of creation comes to a null zero, a point where beginning and end merge. As a common among all my works, choice of materials and their compounding is imperative to each depiction. Hence a lot of time is spent understanding their personality to ascertain their right place in the practice. Some materials used in this series are shell oysters, kaolin, turmeric, sea salt, turban fabric etc. While forms used have emerged in a fluid manner, cultural influences perhaps inform sensory ethics. Process and imagery of Paleolithic drawings in cave shelters of Central India are one of the key influences in these works.”</p>

        <p>This exhibition will feature installations in collaboration with Kevin Benham. Kevin is an Assistant Professor of Landscape Architecture in the School of Design at South Dakota State University. These installs stem from collaborative works created at a residency at Edward Albee Foundation in July 2016.</p>

        <p>The Artists:</p>

        <p>Charles Heppner is an artist currently living in Austin. He was born in Chicago into a large Catholic family where individualism was allowed unfettered. He attended Saint Ignatius College Prep then went on to earn a degree in Mathematics from the University of Wisconsin—Madison. He has worked in finance and is a devoted parent of three children. Though originally self-identified as a painter Charles’ practice has grown to include photography, mix media box constructions and drawing. His work focuses on beauty especially regarding nature. Charles has shown his work in numerous galleries both in Chicago and New York. His work is in many private and corporate collections throughout the United States. He has studios in Chicago and Austin.</p>

        <p>Gunjan Kumar is born and raised in Punjab, India. She is an Economics Graduate and has studied Textile Design from National Institute of Fashion Technology, New Delhi. She has keen interest in age-old methods, archeology, pre-historic and tribal arts and has traveled extensively exploring her interest in these areas. These experiences form the undertone of her artistic practice. Self taught in arts, she uses earth minerals and organic pigments as her core mediums, meticulously applied on Japanese paper, using a self-developed technique inspired by traditional methods. Kumar’s investigations in this field took her on an interactive research trip to Japan in 2014. She is an art fellow at the Edward Albee Foundation (2016 – 2017), New York. Her works in What lies Beneath are a sequel to works currently on display at a Four- Person show at the Ukrainian Institute of Modern Art. Her other interests include collecting and vocalizing folk music. She lives and works in Chicago.</p>

        <p>Kevin Benham is an Assistant Professor of Landscape Architecture in the School of Design at South Dakota State University. He received his MLA from the Graduate School of Design at Harvard University and his M.Arch. at the Taubman College of Architecture and Urban Planning, The University of Michigan. He has taught interdisciplinary studios at several academic institutions, including the University of Michigan, Louisiana State University, Wentworth Institute of Technology and the Boston Architectural College. His research and work focuses on landscape phenomena and the temporal qualities inherent in the discipline. To that end, he produces temporal and ephemeral installations that elucidate phenomena requiring careful observation through space and time. He has exhibited his conceptual work throughout the world, including exhibits at the Royal Institute of British Architects, London, England; CUBE Gallery, Manchester England; Zurich, Switzerland; New Orleans, Louisiana; and Scottsdale, Arizona.</p><br>
        <br>
      </div>
      <div class="col-md-6">
        <%= image_tag('Heppner_Post.jpg', class: "img-responsive") %>
      <br>
      <br>
        <div class="panel panel-default">
          <div class="panel-heading">Related Events</div>
          <div class="panel-body">
            <p class="event-name"><a href="/pages/event_1">Opening Reception:</a></p>
            <p class="event-date">Friday, March 10, 2017, 6:00 - 10:00 PM</p>
            <p class="event-name">Artist Talk, moderated by Paul Klein:
            <p class="event-date">Sunday, March 12, 2017, 3:00 PM</p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

