<% content_for(:title, '2nd Fridays Gallery Night')%>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<br>
<br>
<br>
<div class="container">
  <h2 class="page-title">Funding for the Chicago Arts District</h2>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>The Origin of the Chicago Arts District</h2>
        <p>The Chicago Arts District, also known as PilsenEast, is an internationally recognized center for art and design.  The Chicago Arts District has created an opportunity for artists, designers, and related businesses to be part of a destination community for both Chicago residents and visitors to our city. We offer the chance to live and work in an environment focused on quality of life and anchored by the arts, culture, and great design.</p>

        <p>The Chicago Arts District’s roots extend back to the early 1960’s when John and Annelies Podmajersky started to revitalize the area by creating art studios around a now famous garden at 18th and Halsted Streets. The Podmajerskys’ commitment to the neighborhood, combined with their creation of unique spaces and outstanding environments, has attracted thousands of artists and creative entrepreneurs over the past four decades. The area now encompasses several contiguous blocks of live and work spaces for artists, gallerists, and creative retailers, plus creative office space, warehouse facilities for art and craft related businesses, and temporary exhibition space.</p>

        <p>The Chicago Arts District was formed in 2002 for two purposes:</p>
        <ul>
          <li>to assist local artists and creative businesses in the promotion of their work, and</li>
          <li>to raise local, national and international awareness of the area as a center for cultural tourism.</li>
        </ul>

        <p>Through these efforts the Chicago Arts District hopes to help artists become more successful as professionals.</p>
        
        <hr>

        <h2>Contributions to the Chicago Arts District</h2>
        <p>Funded by the Podmajersky family, the Chicago Arts District offers the following services to local artists and the community at large:</p>

        <h3>www.chicagoartsdistrict.org</h3> 
        <p>This 24/7 virtual gallery of work by local artists gives residents their own Artists’ page. Visitors to the site can search by artists’ name, medium, or profession, then see examples of work and read artists’ statements and bios. The site also provides Event information and a News page that is updated frequently with stories about the many accomplishments and endeavors of this dynamic collection of artists and galleries.</p>

        <h3>2nd Fridays</h3> 
        <p>The 2nd Friday of every month is opening night for over a dozen galleries and artists’ studios in the Chicago Arts District. These dynamic contemporary art spaces promote the work of emerging and established artists from Chicago and beyond.</p>

        <h3>PilsenEast Artists’ Open House</h3> 
        <p>Taking place the first weekend in October since 1970, this much-anticipated event invites residents and local businesses to open their doors and share their artwork with the public. Invitations to exhibit also are extended to select artists who live and work outside of the District.  The PilsenEast Artists’ Open House is a great way for visitors to experience art at its source and explore the neighborhood. The event features a curated show, an opening night gala, the PilsenEast Performance Festival, and two days of self-guided walking tours.</p>

        <h3>Gallery Incubator Spaces</h3> 
        <p>The Chicago Arts District, working with Podmajersky, Inc., has developed a collection of affordable retail and gallery spaces designed to help creative entrepreneurs get their businesses off the ground.</p>

        <h3>Special Events</h3> 
        <p>In addition to the PilsenEast Artists Open House, the Chicago Arts District hosts several special events each year, designed to bring the art buying public to the neighborhood. Our web site, www.chicagoartsdistrict.org, lists a full calendar of events, as well as a directory of current shows, exhibits and installations in the galleries.</p>


    </div>
    <div class="col-md-4">
      <h3>Funding for the Chicago Arts District provided by:</h3><br><%= image_tag("pod-logo-1914.jpg", class: "img-responsive") %>
    </div>
  </div>
  <br>
  
  <br>
</div>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
