<% content_for(:title, 'Home')%>
<div class="jumbotron jumbotron-home">

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
    <div class="row">
      <h1 class="text-center">Where People Meet Art</h1>
      <h2 class="text-center">Next 2nd Friday Art Walk <br>
        Friday, November 11th, 2016</h2>
      <p class="text-center">
         <%= link_to "Learn more", events_path, class: "btn btn-danger btn-lg" %></p>
         <br>
         <br>
    </div>
  </div> 
  <br>
  <div class="row">
    <h1 class="text-center">Visiting This Month's Art Walk?</h1>
    <br>
    <div class="col-md-8 col-md-offset-2">
      <p class="lead text-center">The Chicago Arts District encompasses several contiguous blocks of lofts, studios and retail spaces for artists, gallerists, and creative individuals. Every 2nd Friday of the month, the galleries of the Chicago Arts District invite the public to view new and exciting exhibitions. There is something for everyone here in the Chicago Arts District, from the traditional mediums of painting, photography, and sculpture to avant garde fashion, installation and video art, just to name a few!</p>
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <h1 class="text-center">01<br>
        <br>
        <span class="glyphicon glyphicon-globe"></span><br>
        <small>Get a Map</small></h1>
        <p class="lead text-center">Stop by the <%= link_to "Information Center", pages_second_fridays_path %> or download a map now.<br>
          <br>
          <a class="btn btn-danger btn-lg" href="http://podmajersky.com/wp-content/uploads/2016/09/September-2016-Map.pdf" target="_blank" role="button">Download Map</a></p>
    </div>
    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <h1 class="text-center">02<br>
        <br>
        <span class="glyphicon glyphicon-eye-open"></span><br>
        <small>View Art</small></h1>
        <p class="lead text-center">Enjoy a self-guided art walk!<br>
          <br>
          <br>
          <%= link_to "List of Galleries", galleries_path, class: "btn btn-danger btn-lg" %></p>
    </div>
    <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <h1 class="text-center">03<br>
        <br>
        <span class="glyphicon glyphicon-envelope"></span></br>
        <small>Sign Up for Updates</small></h1>
        <p class="lead text-center">Sign up to receive updates about art walks and other upcoming events.<br>
          <br>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
            Sign Up for Updates
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up for Updates</h4>
                </div>
                <div class="modal-body">
                    <iframe src="https://app.e2ma.net/app2/audience/signup/1355398/1354401/" width="500" height="400" frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </p>
    </div>
  </div>
</div>




          