<% content_for(:title, 'Home')%>
<div class="jumbotron jumbotron-home">

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
    <div class="row">
      <h1 class="text-center">Where People Meet Art</h1>
      <h2 class="text-center">Next 2nd Friday Art Walk <br>
        Friday, November 11th, 2016</h2>
      <p class="text-center">
         <%= link_to "Learn more", events_path, class: "btn btn-danger btn-lg" %></p>
         <br>
         <br>
    </div>
  </div> 
  <br>
  <div class="row">
    <h1 class="text-center">Visiting This Month's Art Walk?</h1>
    <br>
    <div class="col-md-8 col-md-offset-2">
      <p class="lead text-center">The Chicago Arts District encompasses several contiguous blocks of lofts, studios and retail spaces for artists, gallerists, and creative individuals. Every 2nd Friday of the month, the galleries of the Chicago Arts District invite the public to view new and exciting exhibitions. There is something for everyone here in the Chicago Arts District, from the traditional mediums of painting, photography, and sculpture to avant garde fashion, installation and video art, just to name a few!</p>
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <h1 class="text-center"><span class="glyphicon glyphicon-home"></span></h1>
      <div class="col-md-1">
        <h2><small>1. </small></h2>
      </div>
      <div class="col-md-10">
        <h2><small>Stop by the Info Center at 2003 S Halsted.</small></h2>
      </div>
    </div>
    <div class="col-md-3">
      <h1 class="text-center"><span class="glyphicon glyphicon-globe"></span></h1>
      <div class="col-md-1">
        <h2><small>2. </small></h2>
      </div>
      <div class="col-md-10">
        <h2><small>Pick up a map of participating galleries.</small></h2>
      </div>
    </div>
    <div class="col-md-3">
      <h1 class="text-center"><span class="glyphicon glyphicon-eye-open"></span></h1>
      <div class="col-md-1">
        <h2><small>3. </small></h2>
      </div>
      <div class="col-md-10">
        <h2><small>Enjoy a self-guided art walk!</small></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center">OR</h1>
  </div>
  <br>
  <br>
  <div class="row">
    <p class="text-center">
           <%= link_to "Download a Map Now", pages_about_path, class: "btn btn-danger btn-lg" %></p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>