<% content_for(:title, 'Home')%>
<div class="jumbotron jumbotron-home">

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
    <div class="row">
      <h1 class="text-center">Where People Meet Art</h1>
      <h2 class="text-center">Next 2nd Friday Art Walk <br>
        Friday, November 11th, 2016</h2>
      <p class="text-center">
         <%= link_to "Learn more", events_path, class: "btn btn-danger btn-lg" %></p>
         <br>
         <br>
    </div>
  </div> 
</div>