<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>About the Second Friday's Art Walk</h3>
        <p>The Chicago Arts District, located in Pilsen East, encompasses several contiguous blocks of lofts, studios and retail spaces for artists, gallerists, and creative individuals. Every 2nd Friday of the month, the galleries of the Chicago Arts District invite the public to view new and exciting exhibitions. There is something for everyone here in the Chicago Arts District, from the traditional mediums of painting, photography, and sculpture to avant garde fashion, installation and video art, just to name a few!</p>

        <p>Visitors enjoy cutting edge art from Chicago artists, as well as artists from all over the country and the world! Artists and gallery owners are on hand to discuss the art and help visitors "connect" with and understand the works. Experience art in a welcoming atmosphere with historic architecture and award winning courtyard gardens. This is a truly unique area of the city that welcomes all visitors and offers an opportunity to get up close and personal with the art and the artists!</p>

      <h3>Pick Up A Map</h3>
        <p>Each 2nd Friday, visitors can pick up a map at our Information Center, located at <strong><a href="https://www.google.com/maps/place/1945+S+Halsted+St,+Chicago,+IL+60608/data=!4m2!3m1!1s0x880e2c587bd449ef:0x7da689be045d1c3b?sa=X&ved=0ahUKEwjO94qzr7rQAhVG9YMKHdCPC8kQ8gEIGjAA" target="_blank">1945 S Halsted Street</a></strong> in Chicago and enjoy exploring the city's most vibrant art community, the Chicago Arts District!</p>
        <p class="gallery-info">Chicago Arts District<br> -Information Center - <br>
          1945 S. Halsted St.<br>
          Chicago, IL 60608</p>
    </div>
    <div class="col-md-4">
      <%= image_tag("2017-02-10-0906.jpg", class: "img-responsive") %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("good-details-2.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("CAD_41stOpenHouse_110930_028.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("NYCH-3.jpg", class: "img-responsive") %>
    </div>
  </div>

</div>
