/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Questrial', sans-serif;
}

$bgDefault   : #FFFFFF;
$bgHighlight : #FFFFFF;
$colDefault  : #595959;
$colHighlight: #AD3C3C;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.navbar btn-nav {
  margin: 30px;
}

.gallery {
  a {
  color: #808080;
  }
  h4 {
  font-size: 95%;
  }
  p {
  color: gray;
  }
}

.event 
  {a {
  color: #CC0000;
  }
  
  p {
  color: gray;
  }
}

.other-color{
    background: green
  }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: #4A4A4A;
  text-transform: uppercase;
  letter-spacing: 2px; 
}

h2, h3, h4{
  color: #4A4A4A;
  text-transform: uppercase;
}

h4.uppercase {
  text-transform: uppercase;
}

h5 {
  color: #4d4d4d;
  text-transform: uppercase;
}

p {
  color: #4A4A4A;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #BFBFBF; /* Modern Browsers */
}
.page-title {
 margin-bottom: -30px; 
}

.thumbnail.thumbnail-events {
  background-color: #EDEBEB;
  border: none;
  border-radius: 0 !important;
  padding: 0px !important;
  .caption {
  }
}
.thumbnail.thumbnail-exhibitions {
  background-color: #4A4A4A;
  border: none;
  border-radius: 0 !important;
  padding: 0px !important;
  .caption {
  }
  .exhibtions-index-text {
    color: FFF;
  }
}

.icon-1 {
    position: relative;
}
.panel {
  border-radius: 0;
}
.caption-1 {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    background: #fff;
    opacity: .9;
}

.caption-2 {
  h4 {
    margin-top: 10px;
    }
  h6 {
    margin-top: 0px;

    }
  hr {
    width: 50%;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.caption-2nd-friday {
  h5 {
    font-size: 90%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .gallery_name {
    color: #000;
    a {
    color: #000;
    }
  }
  .exhibtion_name {
    color: #808080;
    a {
    color: #808080;
    }
  }
}
.btn.btn-primary {
  background: gray;
  border: gray;
}
.btn.sharp {
  border-radius: 0;
}

.modal-backdrop.in { 
  z-index: auto;
}

/* Home Page
------------------------- */
.jumbotron-home {
   background-image: url(art2.jpg);
   background-repeat: no-repeat;
   background-size: 100% auto;
   
   align-items: center;
     h1, h2, p {
      color: white;
     }
    .btn-primary-outline {
      color: #fff;
      background-color: transparent;
      border-color: #fff;
      margin-top: 50px;
    }
}
.container .container-header {
  width: 100%;
  position: fixed;
  height: 50%;
}


/* Home Page - Events Info
------------------------- */
.events-background {
  width: 100%;
  background-color: #4A4A4A;
  padding-top: 30px;
  padding-bottom: 50px;
}
.events-container {
  h2 {
  margin-bottom: -7px;
  color: #EAEAEA;
  }
}
.events-scroll {
  background-color: #EAEAEA;
  margin-bottom: 50px;
}
.events-row {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}
.events-image img {
  max-height: 400px;
}
@media (max-width: 768px) {
    .row .col-xs-12 > .pull-right {
        float: none !important;
    }
}

.events-info {
  padding-right: 120px;
  position: relative;
  .events-date {
    color: #4A4A4A;
    font-size: 110%;
    margin-bottom: -5px;
  }
  .events-time {
    color: #4A4A4A;
    margin-bottom: 25px;
  }
  .events-name {
    color: #3CC0000;
    margin-bottom: 30px;
    a {
      color: #CC0000;
      }
  }
  .events-text {
    color: #4A4A4A;
  }
  .gallery-info {
    margin-left: -30px;
    
    .gallery-name {
      text-transform: uppercase;
      color: #4A4A4A;
      text-transform: bold;
      margin-bottom: 0px;
    }
    .gallery-address {
      color: #4A4A4A;
      text-transform: uppercase;
      font-size: 80%;
      vertical-align: bottom;
    }
  }
}

/* Home Page - Exhibition Info
------------------------- */
.exhibitions-background {
  width: 100%;
  background-color: #EAEAEA;
  padding-top: 30px;
  padding-bottom: 50px;
}
.exhibitions-container {
  h2 {
  margin-bottom: -7px;
  color: #4A4A4A;
  }
}
.exhibitions-scroll {
  background-color: #4A4A4A;
  margin-bottom: 50px;
}
.exhibitions-row {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}
.exhibitions-image img {
  max-height: 400px;
}
@media (max-width: 768px) {
    .row .col-xs-12 > .pull-right {
        float: none !important;
    }
}
.exhibitions-info {
  padding-right: 120px;
  position: relative;
  .exhibitions-date {
    color: #FFF;
    font-size: 110%;
    margin-bottom: -5px;
  }
  .exhibitions-name {
    color: #FFF;
    margin-bottom: 30px;
    a {
      color: #FFF;
      }
  }
  .exhibitions-text {
    color: #FFF;
  }
  .gallery-info {
    position: absolute;
    bottom: 0;
    .gallery-name {
      text-transform: uppercase;
      color: #FFF;
      text-transform: bold;
      margin-bottom: 0px;

    }
    .gallery-address {
      color: #FFF;
      text-transform: uppercase;
      font-size: 80%;
      padding-bottom:5px;
      vertical-align: bottom;
    }
  }
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #4A4A4A;
}
.carousel-control.right.exhibitions-control, .carousel-control.left.exhibitions-control {
    background-image: none;
    color: #EEE;
}
.carousel-indicators li {
    border-color: #4A4A4A;
}
.carousel-indicators li.active {
    background-color: #4A4A4A;
}

.carousel-control {
  position: absolute;
  top: 50%; /* pushes the icon in the middle of the height */
  z-index: 5;
  display: inline-block;
}

.jumbotron-home-second {
    margin-bottom: 0px;
    background-color: gray;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.jumbotron-contact {
    margin-bottom: 0px;
    background-image: url(gallery5.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron.lead-text {
  text-color: white;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}

.marketing h4 {
  margin-top: 20px;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Events - Index Page
------------------------- */

.col-sm-4 {
    padding: 2px 2px;
}
.col-sm-3 {
    padding: 0px 2px;
    margin-bottom: -16px;
}
.col-sm-2 {
    padding: 0px 2px;
}

.thumbnail.thumbnail-events {
  background-color: #EDEBEB;
  border: 1px solid #E6E6E6;
  border-radius: 0 !important;
  padding: 0px !important;
  .exhibitions-text h4, h5, h6, p {
    text-transform: uppercase;
  }
  .events-name {
    color: #CC0000;
    margin-bottom: 40px;
  }
  .events-date {
    margin-bottom: 0px;
  }
  .events-time {
    margin-top: -5px;
    margin-bottom: 2s0px;
  }
  .gallery-name {
    font-size: 80%;
    margin-bottom: 0px;
  }
  .gallery-address {
    font-size: 70%;
    margin-bottom: 0px;
  }
}

.thumbnail.thumbnail-exhibitions {
  background-color: #4A4A4A;
  border: 1px solid #E6E6E6;
  border-radius: 0 !important;
  padding: 0px !important;
  .exhibitions-text h4, h5, h6, p {
    color: white;
    text-transform: uppercase;
  }
  .exhibitions-name {
    margin-bottom: 40px;
  }
  .exhibitions-date {
    margin-bottom: 25px;
  }
  .gallery-name {
    font-size: 80%;
    margin-bottom: 0px;
  }
  .gallery-address {
    font-size: 70%;
    margin-bottom: 0px;
  }
}

/* Events - Show Page
------------------------- */
#myCarousel-events {
  height: 500px;
  .item {
    height: 500px;
  }
  .same-size-img {
    width: auto;
    height: 500px;
    max-height: 500px;
    margin: 0 auto;
  }
}

/* Galleries - Index Page
------------------------- */

.thumbnail.thumbnail-galleries {
  background-color: #4A4A4A;
  border: 1px solid #E6E6E6;
  border-radius: 0 !important;
  padding: 0px !important;
  margin: 0px !important;
  .gallery-text h4, h5, h6, p {
    color: white;
    text-align: center
  }
  .gallery-name {
    font-size: 90%;
    a {
    color: #FFF;
    }
  }
  .gallery-address {
    font-size: 80%;
  }
  .gallery-medium {
    font-size: 90%;
    font-style: italic; 
  }
   hr {
    width: 50%;
    background-color: white; 
    height: 1px; 
    border: 0; 
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
 
/* Featurettes
------------------------- */

.image-container {
  position: relative;
}
.img-overlay {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.image-container:hover .overlay {
  opacity: 1;
}
.text-overlay {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.footer {
  background-size: cover;
  background-color: white;
  padding: 5px;

  p {
  color: dimgray;
  }
}