/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Futura Medium";
  src: url(/assets/Futura-Medium.otf) format("opentype");
}

body, html {
    height: 100%;
    margin: 0;
}

h1, h2 {
  font-family: 'futura-pt',sans-serif;
  font-weight: 300;
  color: #4A4A4A;
  text-transform: uppercase;
  }

h3, h4, h5 {
  font-family: 'futura-pt', sans-serif !important;
  font-style: normal;
  font-weight: 300;
  color: #4A4A4A;
  text-transform: uppercase;
}
p {
  font-family: 'helvetica', sans-serif;
  font-size: 125%;
}

/* General
------------------------- */


p, a {
  color: #4A4A4A;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #BFBFBF; /* Modern Browsers */
}

/* Navbar
------------------------- */
$bgDefault   : #FFFFFF;
$bgHighlight : #FFFFFF;
$colDefault  : #595959;
$colHighlight: #AD3C3C;
.navbar { 
  font-family: 'futura-pt', sans-serif !important;
  font-style: normal;
  font-weight: 300;
  font-size: 125%;
  .red_border {
    border: 1px solid red;
  } 
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-header {
  }
  .navbar-nav {
    > li {
      padding-top: 30px;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
   .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
      background-color: #FFFFFF !important;
      
      background-repeat: repeat-x !important;
      color: #AD3C3C;
      outline: 0 none;
      text-decoration: none;
    }
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
.navbar btn-nav {
  margin: 30px;
}


.page-title {
}
.date {
  text-transform: uppercase;
}
.gray .active a,
.gray .active a:hover {
    background-color: gray !important;
}
.icon-1 {
    position: relative;
}
.panel {
  border-radius: 0 !important;
  padding: 0px !important;

}
.panel-default > .panel-heading-custom{
  border-radius: 0 !important;
  background-image: none;
  background-color: gray;
  border: 1px solid gray;
  color: #ffffff;
}

.caption-1 {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    background: #fff;
    opacity: .9;
}
.caption-2 {
  h4 {
    margin-top: 10px;
    }
  h6 {
    margin-top: 0px;

    }
  hr {
    width: 50%;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.caption-2nd-friday {
  h5 {
    font-size: 90%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .gallery_name {
    color: #000;
    a {
    color: #000;
    }
  }
  .exhibtion_name {
    color: #808080;
    a {
    color: #808080;
    }
  }
}
/* Buttons 
------------------------- */
.btn.btn-primary {
  background: #A4A4A4;
  border: #A4A4A4;
}
.btn.btn-primary:hover {
  background-color: #808080;

}
.btn.btn-white {
  background: #ffffff;
  border: #ffffff;
  color: #4A4A4A;
}
.btn.btn-primary:hover {
  background-color: #808080;
}
.btn-primary-outline {
  color: #CC0000;
  background-color: transparent;
  border-color: #4A4A4A;
}
.btn.btn-primary-outline:hover {
  color: #11101B;
  background-color: white;
}
.btn-primary-outine-inverse {
  background-color: transparent;
  border-color: #EAEAEA;
  color: #EAEAEA;
}
.btn.btn-primary-outine-inverse:hover {
  color: #4A4A4A;
  background-color: white;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #A4A4A4;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #FFF;
  color: #A4A4A4;
}
.modal-backdrop.in { 
  z-index: auto;
}

.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}

/* Home Page
------------------------- */

.jumbotron-home-first {
    background-image: url('art2.jpg');
    background-color: #EAEAEA;
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.text-box {
  background-color: #4A4A4A;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  h2, h3 {
    color: #EAEAEA;
  }
  h3 {
  padding-bottom: 20px;
  }
}
.background-dark {
  background-color: #4A4A4A;
  padding: 70px;
  margin: 0px;
  h1, p {
    color: #EAEAEA;
    margin-top: 0px;
    padding-top: 0px;
  }
  h1 {
    margin-top: 0px;
  }
  p {
    font-size: 130%;
  }
}
.background-light {
  background-color: white;
  padding: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  h1, p {
    margin-top: 0px;
    padding-top: 0px;
  }
  h1 {
    margin-top: 0px;
  }
  p {
    font-size: 130%;
  }
}
.carousel-control.right.hero-image, .carousel-control.left.hero-image {
    background-image: none;
    color: #FFF;
    opacity:1 !important;
}

.carousel-caption {
  top: 40%;
  
  h1, h2, h4 {
  color: white;
  text-transform: bold;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
}

.parallax {
    /* The image used */
    background-image: url(artwalk3.jpg);

    /* Full height */
    height: 60%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.bg {
    /* The image used */
    background-image: url(art2.jpg);

    /* Full height */
    height: 60%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 50px;
}
.jumbotron-home {
   background-image: url(art2.jpg);
   background-repeat: no-repeat;
   background-size: 100% auto;
   
   align-items: center;
     h1, h2, p {
      color: white;
     }
    .btn-primary-outline {
      color: #fff;
      background-color: transparent;
      border-color: #fff;
      margin-top: 50px;
    }
}
.container .container-header {
  width: 100%;
  position: fixed;
  height: 50%;
}


/* Home Page - Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Home Page - Events Info
------------------------- */
.events-background {
  width: 100%;
  background-color: #4A4A4A;
  padding-top: 75px;
  padding-bottom: 75px;
}
.events-container {
  h1 {
  margin-bottom: -8px;
  color: #EAEAEA;
  }
}
.events-scroll {
  background-color: #EAEAEA;
  margin-bottom: 75px;
}
.events-row {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}
.events-image img {
  max-height: 400px;
}
@media (max-width: 768px) {
    .row .col-xs-12 > .pull-right {
        float: none !important;
    }
}

.events-info {
  padding-right: 125px;
  position: relative;
  .no-padding-left {
    padding-left: 0px;
  }
  .no-padding-right {
    padding-right: 0px;
  }
  .events-date {
    color: #4A4A4A;
    font-size: 130%;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 110%;
    text-transform: uppercase;

  }
  .events-time {
    color: #4A4A4A;
    margin-top: 0px;

  }
  .events-name {
    color: #3CC0000;
    a {
      color: #4A4A4A;
      }
    .small-text {
    font-size: 60%;
  }
  }
  .small-text {
    font-size: 60%;
  }
  .exhibition-card {
    background-color: #4A4A4A;
    padding: 5px;
    .exhibition-name {
      color: #EAEAEA;
    }
    p {
      color: #EAEAEA;
    }
  }
  .events-text {
    color: #4A4A4A;
  }
  .gallery-info {
    position: absolute;
    bottom: 0;
    .gallery-name {
      text-transform: uppercase;
      color: #4A4A4A;
      text-transform: bold;
      margin-bottom: 0px;
    }
    .gallery-address {
      color: #4A4A4A;
      text-transform: uppercase;
      font-size: 80%;
      margin-bottom: 0px;
      vertical-align: bottom;
    }
  }
}

/* Home Page - Exhibition Info
------------------------- */
.exhibitions-background {
  width: 100%;
  background-color: #EAEAEA;
  padding-top: 75px;
  padding-bottom: 75px;
}
.exhibitions-container {
  h1 {
  margin-bottom: -8px;
  color: #4A4A4A;
  }
}
.exhibitions-scroll {
  background-color: #4A4A4A;
  margin-bottom: 75px;
}
.exhibitions-row {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}
.exhibitions-image img {
  max-height: 400px;
}
@media (max-width: 768px) {
    .row .col-sm > .pull-right {
        float: none !important;
    }
}
.exhibitions-info {
  padding-right: 125px;
  position: relative;
  .exhibitions-date-home {
    color: #EAEAEA;
    font-size: 110%;
    margin-bottom: -5px;
    text-transform: uppercase;
  }
  .exhibitions-name {
    color: #EAEAEA;
    margin-bottom: 30px;
    a {
      color: #EAEAEA;
      }
  }
  .exhibitions-text {
    color: #EAEAEA;
  }
  .gallery-info {
    position: absolute;
    bottom: 0;
    .gallery-name {
      text-transform: uppercase;
      color: #EAEAEA;
      text-transform: bold;
      margin-bottom: 0px;
      a {
      color: #EAEAEA;
      }
    }
    .gallery-address {
      color: #EAEAEA;
      text-transform: uppercase;
      font-size: 80%;
      margin-bottom: 0px;
      vertical-align: bottom;
    }
  }
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #4A4A4A;
}
.carousel-control.right.exhibitions-control, .carousel-control.left.exhibitions-control {
    background-image: none;
    color: #EEE;
}
.carousel-indicators li {
    border-color: #4A4A4A;
}
.carousel-indicators li.active {
    background-color: #4A4A4A;
}

.carousel-control {
  position: absolute;
  top: 50%; /* pushes the icon in the middle of the height */
  z-index: 5;
  display: inline-block;
}

e7e1d1

.jumbotron-home-second {
    margin-bottom: 0px;
    background-color: gray;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.jumbotron-contact {
  background-image: url('gallery-flat.jpg');
  background-color: #EAEAEA;
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.jumbotron.lead-text {
  text-color: white;
}

/* Events - Index Page
------------------------- */
.gray-background {
  background: #EAEAEA;
}
.background-gray {
  background: #EAEAEA;
  padding: 5px;
  h4, h5, h6, p {
    color: #4A4A4A;
    text-transform: uppercase;
  }
  .event-name {
    margin-top: 0px;
  }
  a {
  color: #4A4A4A;
  }
  .events-date {
    color: 4A4A4A;
    margin-bottom: 25px;
    font-size: 90%;
    text-transform: uppercase;
  }
}
.events-information {
  .exhibitions-text h4, h5, h6, p {
    text-transform: uppercase;
  }
  .event-name {
    margin-top: 0px;
  }
  a {
  color: #4A4A4A;
  }
  a:hover{
    text-decoration: none;
  }
  .exhibition-name {
    text-transform: uppercase;
     a {
      color: #AD3C3C;
     }
  }
  .events-date {
    margin-bottom: 25px;
    font-size: 90%;
    text-transform: uppercase;
  }
  .events-time {
    font-size: 90%;
    padding-bottom: 10px;

  }
  .gallery-name {
    font-size: 73%;
    margin-bottom: 0px;
    text-align: bottom;
  }
  .gallery-address {
    font-size: 70%;
    margin-bottom: 0px;
  }
}


/* Exhibitions - Index Page
------------------------- */

.thumbnail.thumbnail-exhibitions {
  background-color: #4A4A4A;
  border: 1px solid #E6E6E6;
  border-radius: 0 !important;
  padding: 0px !important;
  .caption {
   padding-bottom: 0px;
    .exhibitions-text1 {
      min-height: 80px;
      margin: 0 0 0 0px;
    } 
    .exhibitions-text2 {
      margin: 0 0 0 0px;
    }
  }
  a {
    color: #FFF;
  }
  .exhibitions-text h4, h5, h6, p {
    color: white;
    text-transform: uppercase;
  }
  .exhibitions-name {
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 95%;
  }
  .exhibitions-date {
    margin-bottom: 25px;
    font-size: 90%;
  }
  .gallery-name {
    font-size: 80%;
    margin-bottom: 0px;
  }
  .gallery-address {
    font-size: 70%;
    margin-bottom: 5px;
  }
}
/* Exhibitions - Show Page
------------------------- */

.some-padding {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 30px;

}
.date-column-background {
  background-color: #EAEAEA;
  margin-left: 0px;
  h3 {
    margin-top: 0px;
  }
}


/* Events - Show Page
------------------------- */

.col-sm-4 {
    padding: 2px 2px;
}
.col-md-3 {
    padding: 0px 2px;
    margin-bottom: -16px;
}
.col-sm-2 {
    padding: 2px 2px;
}
.col-md-12 {
    padding: 2px 2px;
}
.col-md-2 {
    padding: 2px 2px;
}
#myCarousel-events {
  height: 500px;
  .item {
    height: 500px;
  }
  .same-size-img {
    width: auto;
    height: 500px;
    max-height: 500px;
    margin: 0 auto;
  }
}
.event-show-info {
  a {
  color: #4A4A4A;
  }
  a:hover{
    text-decoration: none;
  }
  .date-info {
  text-transform:uppercase;
  color: gray;
  }
}
/* About Page
------------------------- */
.jumbotron-about-page {
  background-image: url('artwalk.jpg');
  background-color: #EAEAEA;
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.glyphicon-arrow-right {
  -webkit-text-stroke: 2px white;
}

.testimonials-carousel {
  margin-top: 30px;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.6)),url('CAD_41stOpenHouse_111002_461.jpg');
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 275px;
  
  p {
  color: #EAEAEA;
  font-size: 150%;
  padding-top: 30px;
  }
}

/* Events Show Page - Participating Galleries Img Overlay
------------------------- */

.image-container {
  position: relative;
}
.events-border {
  border: 1px solid #E6E6E6;
  border-radius: 0 !important;
  padding: 0px !important;
}
.img-overlay {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4A4A4A;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.image-container:hover .overlay {
  height: 100%;
}
.text-overlay {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  a {
  color: white;
  }
}

/* Exhibitions - Show Page
------------------------- */
p.exhibition-date {
  text-transform: uppercase;
  font-size: 125%;
  color: gray;
}
.socials {
    font-size: 110%;
    letter-spacing: 10px;
  }
.exhibition-heading {
  text-align: center;
  
}

/* Galleries - Index Page
------------------------- */

.thumbnail.thumbnail-galleries {
  background-color: #4A4A4A;
  border: 1px solid #E6E6E6;
  border-radius: 0 !important;
  padding: 0px !important;
  margin: 0px !important;
  .caption {
   min-height: 150px;
  }
  .gallery-text h4, h5, h6, p {
    color: white;
    text-align: center;
  }
  .gallery-name {
    font-size: 90%;
    a {
    color: #FFF;
    }
  }
  .gallery-address {
    font-size: 80%;
  }
  .gallery-medium {
    font-size: 90%;
    font-style: italic; 
  }
   hr {
    width: 50%;
    background-color: #727272; 
    height: 1px; 
    border: 0; 
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

/* Gallery Show Page
------------------------- */
.gallery-info-exhitition {
  background-color: #4A4A4A;
  margin-top: 4px;
  margin-bottom: 50px;
  padding: 2px 0px 5px 10px;
  h3, p {
    color: white;
  }
  a {
    color: white;
    }
}

.gallery-image {
  float: right;
}
/* Gallery Show Page -- Exhibitions Scroll
------------------------- */
.exhibitions-image img {
  max-height: 400px;
}
@media (max-width: 768px) {
    .row .col-sm > .pull-right {
        float: none !important;
    }
}
.gallery-exhibitions-info {
  padding-right: 50px;
  position: relative;
  .exhibitions-date {
    font-size: 110%;
    margin-bottom: -5px;
  }
  .exhibitions-name {
    margin-bottom: 30px;
  }
  .gallery-info {
    position: absolute;
    bottom: 0;
    .gallery-name {
      text-transform: uppercase;
      text-transform: bold;
      margin-bottom: 0px;

    }
    .gallery-address {
      text-transform: uppercase;
      font-size: 80%;
      padding-bottom:5px;
      vertical-align: bottom;
    }
  }
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #4A4A4A;
}
.carousel-control.right.exhibitions-control, .carousel-control.left.exhibitions-control {
    background-image: none;
    color: #EEE;
}
.carousel-indicators li {
    border-color: #4A4A4A;
}
.carousel-indicators li.active {
    background-color: #4A4A4A;
}

.carousel-control {
  position: absolute;
  top: 50%; /* pushes the icon in the middle of the height */
  z-index: 5;
  display: inline-block;
}

.bottom-stripe {
  background-color: #4A4A4A;
  h4, p {
    color: #EDEBEB;
    text-align: center;
  }
  .stay-connected {
    padding: 30px;
  }
  .socials {
    text-align: center;
    color: #fff;
    font-size: 150%;
    letter-spacing: 20px;
    a {
      color: #fff;
     }
  }
  @media handheld, screen and (max-width: 799px) {
    .line {
      border-top: 1px solid #595858;
      margin-top:20px;
      padding-top:20px
    }
  }
  @media only screen and (min-width: 800px) {
    /* For desktop: */
    .line {
      border-left: 1px solid #595858;
    }
  }
  .newsletter-signup-form {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}

/* Footer
------------------------- */

.footer {
  background-size: cover;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 50px;

  p {
  color: dimgray;
  }
}

