/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Questrial', sans-serif;
}

.navbar-default {
    background-color: E4002B;
    opacity: .8;
    height: 60px;
    border: none;
}

.gallery {
  a {
  color: #808080;
  }
  p {
  color: gray;
  }
}

.event {
  a {
  color: #808080;
  }
  p {
  color: gray;
  }
}
.event {
  a {
  color: #808080;
  }
  p {
  color: gray;
  }
}

.other-color{
    background: green
  }

h1, h2, h3, h4, p {
  font-family: 'Raleway', sans-serif;
}
h1 {
  color: gray;
}

h2 {
  color: #CC0000;
  text-transform: uppercase;
}

h3 {
  color: #CC0000;
  text-transform: uppercase;
}
h4 {
  color: #4d4d4d;
  text-transform: uppercase;
}

h4.uppercase {
  text-transform: uppercase;
}

h5 {
  color: #4d4d4d;
  text-transform: uppercase;
}

p {
  color: gray;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #BFBFBF; /* Modern Browsers */
}

.gallery-info {
  color: #4d4d4d;
  text-transform: uppercase;
}

.btn.btn-primary {
  background: gray;
  border: gray;
}
.btn.sharp {
  border-radius: 0;
}

.jumbotron-home {
   background-image: url(CAD-art-2.jpg);
   background-position: 0% 25%;
   background-size: cover;
   text-align: bottom;
   padding: 25px 0;
   background-repeat: no-repeat;
   min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
   min-height: 100vh; /* These two lines are counted as one :-)       */
   display: 0;
   display: flex;
   -webkit-align-items:flex-end;
   align-items: flex-end;
   align-items: center;
     h1, h2, h3, p {
      color: white;
     }
     h2 {
      margin-top: 400px;
     }
     
    .btn-primary-outline {
      color: #fff;
      background-color: transparent;
      border-color: #fff;
      margin-top: 50px;
    }
}



.overlay {
  background: transparent url("http://i.imgur.com/8B7UFiv.png") repeat;
    
}

.carousel-inner {
  h3 {
    display: inline-block;
    padding: 10px;
    background: #F63B47;
    
  }

  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.carousel-control {
  position: absolute;
  top: 50%; /* pushes the icon in the middle of the height */
  z-index: 5;
  display: inline-block;
}

.jumbotron-home-second {
    margin-bottom: 0px;
    background-color: gray;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.jumbotron-contact {
    margin-bottom: 0px;
    background-image: url(gallery5.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;

}

.jumbotron.lead-text {
  text-color: white;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}

.marketing h4 {
  margin-top: 20px;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.footer {
  background-size: cover;
  background-color: white;
  padding: 5px;

  p {
  color: dimgray;
  }
}