#background {
     background-image: url('gallery5.jpg');
     height: 100vh;
     background-size: cover;
     background-position: top;
     text-align: center;
     padding-top:0px;
     margin-top: 0;
}